*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
}
header{
    height: 20%;
    width: 98%;
    background-color: rgb(196, 10, 253);
    border: 5px solid black;
    /* box-shadow: 2 2  rgb(10, 10, 10); */
    border-radius: 10px;
    border-radius: 10px;
    display: flex
;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;}
       
    .banner{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        box-shadow: 2px 2px rgb(24, 23, 22);
    }
    


.header{
    font-size: 25px;
    text-shadow: 2px 1px black;
}
main{ 
    height: 65%;
    width: 100%;
    background-color: rgb(235, 227, 242);
    border: 5 solid black;   

}
.iframbox , .iframbox2{
    display: flex ;
    
}
.sec1 {
    border: 5px solid rgb(87, 2, 76);
    /* margin-top: 15px; */
    text-align: center;
    transition: all 1S;
    font-size: 20PX;
    width: 19%;
   
}
.sec2{
    border: 5px solid rgb(87, 2, 76);
    margin-top: 5px;
    text-align: center;
    transition: all 1S;
    font-size: 20PX;
    width: 19%;
}
.sec1:hover{
    scale: 1.2;
}
footer{
    height:13%;
    background-color: black;
}
.footerbox{
    color: aliceblue;
    font-size: 20px;
    display: flex
    ;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
}
@media( max-width: 680px){
    header , main{
        width: 120%;
        
    }
    main{
        height: 85%;
    }
    footer{
        height: 10%;
        width: 120%;
    }
    

}